.box-model {
    height: 50vh;
    width: 50vw;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 40;
    border: solid 1px rgb(172, 34, 34);
    padding: 20px 40px 60px;
}